<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/realm}"
      lang="en">
<head>
    <title>Detail</title>
</head>
    <body>
        <div layout:fragment="heading-wrapper">
            <h1 th:replace="~{layouts/general :: heading(title='Raw Definitions')}"></h1>
        </div>
        <div layout:fragment="realm-content">
            <form method="post">
                <label>
                    <textarea th:text="${definitions}" name="definitions" />
                </label>

                <button type="submit">Save</button>
            </form>
        </div>
    </body>
</html>