<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/realm}"
      lang="en">
    <head>
        <title>Detail</title>

        <layout:fragment name="extra-head">
            <style>
                .CodeMirror {
                    height: 50%;
                }
            </style>
        </layout:fragment>
    </head>
    <body>
        <div layout:fragment="heading-wrapper">
            <h1 th:replace="~{layouts/general :: heading(title='Raw Definitions')}"></h1>
        </div>
        <div layout:fragment="content">
            <form method="post" class="h-full">
                <label for="definitions"></label>
                <textarea th:text="${definitions}" id="definitions" name="definitions" class="w-full" />

                <button type="submit">Save</button>
            </form>

            <script>
                initCodeMirror("definitions");
            </script>
        </div>
    </body>
</html>