<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/general}"
      lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
<div layout:fragment="heading-wrapper">
    <h1 th:replace="~{layouts/general :: heading(title='Info')}"></h1>
</div>

<div layout:fragment="content">
    <div th:replace="~{fragments/component :: info(~{::info})}">
        <th:block th:fragment="info">
            <h2>Welcome to ACS Plane!</h2>
            <p>Logged in.</p>
        </th:block>
    </div>

    <!--
     <p>Username: <span th:text="${user.displayName}" /></p>
     <p>Role: <span th:text="${user.role.name()}" /></p>
     -->
</div>
</body>
</html>