<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/general}"
      lang="en">
<head>
    <title>Detail</title>
</head>
    <body>
        <div layout:fragment="content">
            <h1>Detail</h1>
            <form method="post">
                <label>
                    <textarea th:text="${definitions}" name="definitions" />
                </label>

                <button type="submit">Save</button>
            </form>
        </div>
    </body>
</html>