<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/highlighted}">"
lang="en">
<head>
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Register</h1>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Insert username" required />

        <label for="display-name">Display Name</label>
        <input type="text" id="display-name" name="displayName" placeholder="Insert display name" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Insert password" required />

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>