<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/highlighted}"
      lang="en">
<head>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Error Occured</h1>
    <!--/*@thymesVar id="error" type="me.zort.acs.plane.http.dto.error.ErrorModel"*/-->
    <p th:if="${error instanceof T(me.zort.acs.plane.http.dto.error.ErrorModel)}"
       th:text="'Error Message: ' + ${error.message}">
    </p>
</div>
</body>
</html>