<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/general}"
      lang="en">
<head>
    <title>Realms</title>
</head>
<body>

<div layout:fragment="heading-wrapper">
    <h1 th:replace="~{layouts/general :: heading(title='Realms')}">Realms</h1>
</div>

<div layout:fragment="content">
    <a th:href="@{/panel/realms/create}">
        <div th:replace="~{fragments/component :: button(~{::#create-realm-content}, 'primary')}">
            <span id="create-realm-content">Create Realm</span>
        </div>
    </a>

    <table class="w-full">
        <thead class="text-left">
        <tr>
            <th>Realm Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="realm : ${realms}">
            <td th:text="${realm.name}">Realm Name</td>
            <td>
                <a th:href="@{/panel/realms/definitions/raw(realm=${realm.name})}">Edit</a>
                <!-- TODO: Delete -->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>